# SEGURANÇA (JWT)
SECRET_KEY=sua_chave_secreta_aqui
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# BANCO DE DADOS
DATABASE_URL=sqlite:///./test.db

# DADOS PARA OS TESTES (Opcional)
TEST_USER=guilherme
TEST_PASSWORD=123456